<div class="body">
    <div class="container" *ngIf="!videoPart && intro">
        <div class="top">
            <img src="assets/images/monetIcon.png">
        </div>
        <div class="content">
            <div class="topmessage">
            <div class="heading">Welcome to our project</div>
            <div class="subheading">Fill the details below to continue</div>
            <div class="or">Or</div>
            <div class="choice">
                <div class="submitButton">
                    <button [ngClass]="'active' " (click)="google.click()">
                <asl-google-signin-button #google (click)="googleLogin()"></asl-google-signin-button>
                Sign In with google</button>
            </div>
            </div>
        </div>
            <div class="formGroup">
                <form [formGroup]="nameForm">
                    <div class="innerformGroup">
                        <label for="name">Name : </label>
                        <input type="text" placeholder="Enter your name" formControlName="name">
                        <p class="error" *ngIf="nameForm.get('name').hasError('required') && (submit)">* Name is required.</p>
                    </div>
                    <div class="innerformGroup">
                        <label for="name">Email id : </label>
                        <input type="email" placeholder="Enter your email" formControlName="email">
                        <p class="error" *ngIf="nameForm.get('email').hasError('required') && (submit)">* Email is required.</p>
                        <p class="error" *ngIf="nameForm.get('email').hasError('email') && (submit)">* Please enter a valid email.</p>
                    </div>
                    
                        <div class="submitButton">
                            <button [ngClass]="nameForm.invalid ? 'disable' : 'active' " (click)="next()">Next</button>
                    </div>
            </form>
            </div>
           <!-- <div class="intro-text">
            <p class="text">This is a webcam based study</p>
            <p class="text">Allow your webcam to watch this video</p>
            <img src="assets/webcamicon1.png">
        </div> -->

        </div>
    </div>
        <!-- This is for video page  -->
        <div class="container" *ngIf="videoPart">
        <div class="top">
            <img src="assets/images/monetIcon.png">
        </div>
        <div class="content" #content>
            <div class="videoPlay">
                <video #videoPlay crossOrigin="anonymous" (play)="start($event)" (ended)="Ended($event)" (pause)="pause($event)" (waiting)="Waiting($event)" (playing)="Playing($event)"
                [src]="videoUrl">
                </video>
                 <mat-progress-bar [value]="Duration" mode="determinate"></mat-progress-bar>
            <!-- <mat-icon class="icon" (click)="play()" *ngIf="!Play" fontIcon="play_circle_outline"></mat-icon> -->
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/109/109197.png" height="30" width="30" (click)="play()" *ngIf="!Play"></div>
            </div>
            
              <video #video autoplay class="video" style="visibility: hidden;">Video is not supported by browser</video>
              <canvas id="canvasfd" hidden  height="400" width="480" #canvasfd></canvas>
            
        </div>
    </div>
    <!-- This part shows after video completion  -->
    <div class="container" *ngIf="videoComplete">
        <div class="top">
            <img src="assets/images/monetIcon.png">
        </div>
        <div class="content">
           <p class="text">Thank you for your Participation</p>          
        </div>
    </div>
 
</div>
